* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

header {
  text-align: center;
  margin-top: 10%;
}

#content {
  position: relative;
  border: 2px solid #002288;
  border-radius: 8px;
  margin: 0 auto;
  width: 30%;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#content > h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translate(-50%, -50%);
}

#control {
  display: flex;
  justify-content: space-evenly;
}

button {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: #5691ff;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px 5px 9px 3px rgba(0, 0, 0, 0.08);
}

button:active {
  transform: scale(0.98);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  text-align: center;
}
