* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

header {
  text-align: center;
  margin-top: 10%;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #002288;
  border-radius: 8px;
  margin: 0 auto;
  width: 30%;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

#content > .contentText {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: textTyping 2s steps(30) forwards;
  width: 50%;
}

@keyframes textTyping {
  0% { width: 0 }
  100% { width: 100% }
}

#control {
  display: flex;
  justify-content: space-evenly;
}

button {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: #5691ff;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px 5px 9px 3px rgba(0, 0, 0, 0.08);
}

button:active {
  transform: scale(0.98);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding: 10px;
}
