* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  outline: 1px solid black;
  text-align: center;
}
